<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>la liste des produits </h1>

        <h2><%= produits.titre %></h2>
        <h2><%= produits.descriptions %></h2> 
        <h2><%= produits.img %></h2>
        <h2><%= produits.dates %></h2>
        <h2><%= produits.avis %></h2>
        <h2><%= produits.prix %></h2>

    
</body>
</html> 